html
  head
    meta(charset='UTF-8')
    title
      | Digital Archive Server
    script(type='text/javascript', src='javascripts/script.js')
    script(src='javascripts/jquery-2.1.0.min.js')
    
       
    form(method='post', action='/upload', enctype='multipart/form-data')
      h3 Add image:
      input(type='file', name='image')
      
      h4 Location:
      textarea(name = 'locationtag', cols='16', rows='1')
      h4 Period:
      textarea(name = 'periodtag', cols='16', rows='1')
      h4 Style:
      textarea(name = 'styletag', cols='16', rows='1')
      h4 Theme:
      textarea(name = 'themetag', cols='16', rows='1')
      h4 Object of the picture:
      textarea(name = 'objecttag', cols='16', rows='1')
      br
      br
      input#uploadbutton(type='submit', value='Upload Image and Tags')
      
    