html
  head
    meta(charset='UTF-8')
    title
      | Digital Archive
    script(type='text/javascript', src='javascripts/script.js')
    script(src='javascripts/jquery-2.1.0.min.js')
    
       
  body
    h6 Search by tags:
    forms
      textarea#searchBox(name='searchBox', cols='10', rows='1')
      br
      button#searchButton(type='submit', style="height: 20px; width: 80px", onclick='initAll()') Search
      
    
    a#link1.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image1' src='', alt='')
    a#link2.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image2' src='',alt='')
    a#link3.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image3' src='',alt='')
    a#link4.links(href='', style='padding:10px 10px 10px 10px;') 
      img(id='image4' src='',alt='')
    a#link5.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image5' src='',alt='')
    a#link6.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image6' src='',alt='')
    a#link7.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image7' src='',alt='')
    a#link8.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image8' src='',alt='')
    a#link9.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image9' src='',alt='')
    a#link10.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image10' src='',alt='')
    a#link11.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image11' src='',alt='')
          
    form#form1(name='searchImage', enctype='multipart/form-data')
      h6 Search by Image:
      input#imageFilename(type='file', name='image')
      input#uploadbutton2(type='button', onClick='imageSearch()', value='Search')
      
    a#link100.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image100' src='', alt='')
    a#link200.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image200' src='',alt='')
    a#link300.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image300' src='',alt='')
    a#link400.links(href='', style='padding:10px 10px 10px 10px;') 
      img(id='image400' src='',alt='')
    a#link500.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image500' src='',alt='')
    a#link600.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image600' src='',alt='')
    a#link700.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image700' src='',alt='')
    a#link800.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image800' src='',alt='')
    a#link900.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image900' src='',alt='')
    a#link1000.links(href='', style='padding:10px 10px 10px 10px;')
      img(id='image1000' src='',alt='')
